:root{
  --dark: #312614;
  --gold: #B7832F;
  --gray: #707070;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--gray);
  background-color: var(--white);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}
